
* {
  margin-left:10px;
}

/* Header */
h2 {
  font-family:sans-serif;
  font-weight:100;
  font-weight: bold;
  color: black;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px 0px;
  grid-gap: 20px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right:55px;
  max-width: 95%;
}

/* Image */
#img1 {
  border: 2px solid lightgrey;
  width: 740px;
  height: 400px;
}s

/* Media settings */
@media screen and (max-width:600px){
  h2 {
    font-size: 20px;
  }
  #img1 {
    border: 2px solid lightgrey;
    width: 350px;
    height: 200px;
  }
}

