<!DOCTYPE html>
<html>

<div>
  <h1>Welcome to Truffle's World</h1>
</div>

<body>

  <div class="img-box">
    <p>
      <img src="assets/images/babyT.png" alt="error">
    </p>
    <p>
      <img src="assets/images/bag.png" alt="error">
    </p>
    <p>
      <img src="assets/images/sedona.png" alt="error">
    </p>
  </div>

  <br>

  <div class = "info-box">
      <h2>About Me</h2>
      <ul>
        <li>
          I'm a 15 lb Cavapoo in Los Angeles.
        </li>
        <li>
          My favorite activities are playing with little sister Pinot and going on walks with my dad.
        </li>
        <li>
          I'm very smart thanks to my Poodle genes! I know 20+ tricks.
        </li>
        <li>
          My #1 priority is protecting my momma! I bark at anyone who comes near her.
        </li>
      </ul>
  </div>
</body>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timeline-1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css">
</head>
<body class = "timeline">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="Yearly-timeline">
        <div class="timeline">
          <a href="" class="timeline-content">
            <img src="assets/images/pawrent.png" id = "img1" alt="error">
            <h3 class="title">2020</h3>
            <p class="description">
              I was born in Ohio to my paw-rents on Feb 20th.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="" class="timeline-content">
            <img src="assets/images/arrival.png" id = "img2" alt="error">
            <h3 class="title">2020</h3>
            <p class="description">
              2 months later, I arrived in San Francisco to my human parents after traveling in a van.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="" class="timeline-content">
            <img src="assets/images/calabasas.png" id = "img3" alt="error">
            <h3 class="title">2021</h3>
            <p class="description">
              I became an LA dog. I love it here!
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="" class="timeline-content">
            <img src="assets/images/batman.png" id = "img4" alt="error">
            <h3 class="title">2021</h3>
            <p class="description">
              My Yorkie little sister Pinot was born.
            </p>
          </a>
        </div>
        <div class="timeline">
          <a href="" class="timeline-content">
            <img src="assets/images/teddy.png" id = "img5" alt="error">
            <h3 class="title">2022</h3>
            <p class="description">
              I turned 2 and became an adult.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>

