<!DOCTYPE html>
<html>

<div class="header">
  <h1>Welcome to Truffle's World</h1>
</div>

<body>

  <div id = "pics" class="clearfix">
    <div class="img-container">
      <img src="assets/images/babyT.png" alt="error" width="300" height="350" >
    </div>
    <div class="img-container">
      <img src="assets/images/teddy.png" alt="error" width="300" height="350" >
    </div>
    <div class="img-container">
      <img src="assets/images/sedona.png" alt="error" width="300" height="350" >
    </div>
  </div>

  <br>

  <div id = "info">
      <h2>About Me</h2>
      <p>
        Add bio...
      </p>
  </div>

</body>


<div id = "time" class="timeline">
  <div class="outer" id = "box1">
    <div class="card">
      <div class="info">
        <h3 class="title">Birth</h3>
        <p> I was born in February, 2020 in Ohio. </p>
      </div>
    </div>
    <div class="card" id = "box2">
      <div class="info">
        <h3 class="title">Title 2</h3>
        <p> test </p>
      </div>
    </div>
  </div>
</div>



  </html>


<!DOCTYPE html>
<html>


