<!DOCTYPE html>
<html>

<div class="header">
  <h1>Welcome to Truffle's World</h1>
</div>

<body>

  <div id = "pics" class="clearfix">
    <div class="img-container">
      <img src="assets/images/babyT.png" alt="error" width="300" height="340" >
    </div>
    <div class="img-container">
      <img src="assets/images/teddy.png" alt="error" width="300" height="340" >
    </div>
    <div class="img-container">
      <img src="assets/images/sedona.png" alt="error" width="300" height="340" >
    </div>
  </div>

  <br>

  <div id = "info">
      <h2>About Me</h2>
      <p>
        I'm a 15 lb Cavapoo living in Los Angeles.
      </p>
      <p>
        My favorite activities are playing with little sister Pinot and going on walks with my dad.
      </p>
      <p>
        I'm very smart thanks to my Poodle genes! I know 20+ tricks.
      </p>
      <p>
        My #1 priority is protecting my momma! I bark at anyone who touches her.
      </p>
  </div>

</body>


<div id = "time" class="timeline">
  <div class="outer" id = "box1">
    <div class="card">
      <div class="info">
        <h3 class="title">Feb 2020</h3>
        <p> I was born in Ohio to my paw-rents. </p>
      </div>
    </div>
    <div class="card" id = "box2">
      <div class="info">
        <h3 class="title">April 2020</h3>
        <p> I arrived in San Francisco to my human parents after 5 days traveling in a van.  </p>
      </div>
    </div>
    <div class="card" id = "box3">
      <div class="info">
        <h3 class="title">Oct 2020</h3>
        <p> I became an LA doggy.  </p>
      </div>
    </div>
    <div class="card" id = "box4">
      <div class="info">
        <h3 class="title">Aug 2021</h3>
        <p> My little Yorkie sister named Pinot was born.  </p>
      </div>
    </div>
    <div class="card" id = "box5">
      <div class="info">
        <h3 class="title">Feb 2022</h3>
        <p> I turned 2 and became a young adult.  </p>
      </div>
    </div>
  </div>
</div>



  </html>


<!DOCTYPE html>
<html>


