<!DOCTYPE html>
<html>

<h1> Welcome to Truffle's World </h1>

<h2> Your Favorite Cavapoo </h2>
<div>
  <img  src="assets/images/teddy.png" width="400" height="450" alt="can't find img"/>
</div>
<br>

<h2> Truffle's Favorite Toy </h2>
<div>
  <img  src="assets/images/ball.png" width="300" height="350" alt="can't find img"/>
</div>
<br>

<h2> Truffle's Biggest Fans </h2>
<div>
  <img  src="assets/images/pups.png" width="300" height="350" alt="can't find img"/>
</div>
<table>
  <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of jsonGetResult">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
  </tbody>
</table>
<br>

<h2> Become a Fan of Truffle! </h2>

<form>
  <label for="n1">First name:</label><br>
    <input type="text" id="n1" name="name" value="Username"><br>
  <label for="a1">Last name:</label><br>
    <input type="text" id="a1" name="age" value="Age (optional)"><br><br>
  <input type="submit" value="Submit">
</form>



