<!DOCTYPE html>
<html>

<h2> Become a Fan of Truffle! </h2>

<form>
  <p>Name:
    <input minlength="2" required [(ngModel)] = "nameBoxInput" #iname = "ngModel" (change)="logName(nameBoxInput)"
           id="t1" type="text" >
  </p>
  <div *ngIf="!iname.valid && iname.touched">
    <p style="color:red;"><b> Name is invalid </b></p>
  </div>
  <p>Click to confirm:
  <input type="button" value="Submit"
         [(ngModel)] = "nameBoxInput" #isubmit = "ngModel" (click)="post(nameBoxInput)"
  ></p>
</form>
<br>
<h2> Current Fan List </h2>
<div>
  <img  src="assets/images/pups.png" width="200" height="250" alt="can't find img"/>
</div>
<table>
  <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let item of jsonGetResult">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
  </tbody>
</table>
<br>


